%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
    %title Caffeine-Sleep: Group - #{@group.name}
  %body
    .header-nav
      = renderPartial "nav"
    #content-frame
      #content
        %h1 Group Infomation
        %label Name: #{@group.name}
        %br
        %label Type: #{@group.type}
        %br
        %a{:href => "/deleteGroup#{@group.id}"} Delete
