%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
    %title Caffeine-Sleep: Product - #{@product.name}
  %body
    .header-nav
      = renderPartial "nav"
    #content-frame
      #content
        %h1 Product Infomation
        %label Name: #{@product.name}
        %br
        %label Type: #{@product.type}
        %br
        %label Amount: #{@product.mg}
        %br
        %a{:href => "/deleteProduct#{@product.id}"} Delete
