%html
  %head
    %title Products
  %body
    .header-nav
      = renderPartial "nav"
    - if @products.empty?
      %h1 You do not have any products
      %a{:href => "/addProduct"} Add a Product
    - @products.each do |product|
      %label Name: #{product.name}
      %br
      %label Type: #{product.type}
      %br
      %label Amount: #{product.mg}
      %br
      %a{:href => "/product&productId=#{product.id}"} View 
      %a{:href => "/deleteProduct&productId=#{product.id}"} Delete 
      %br
      %br
